@model IEnumerable<IMS.DataAccess.Report>
@using IMS.WWW.ControlCenter.Models;
@using ReportSortCriterium = IMS.DataAccess.ReportSortCriterium;
@{
    ViewBag.Title = "List";
    var sortBy = (ReportSortCriterium)ViewBag.SortBy;
    var orderBy = (SortDirection)ViewBag.OrderBy;
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            @if (ViewBag.SortBy == ReportSortCriterium.ByOnSiteOperator) {
                @Html.ActionLink("Operator", "List", new { sortBy = ReportSortCriterium.ByOnSiteOperator, 
                                                           orderBy = orderBy.Toggle() })
            } else {
                @Html.ActionLink("Operator", "List", new { sortBy = ReportSortCriterium.ByOnSiteOperator, 
                                                           orderBy = SortDirection.Ascending })
            }
        </th>
        <th>
            Text
        </th>
        <th>
            @if (ViewBag.SortBy == ReportSortCriterium.ByDate) {
                @Html.ActionLink("Date", "List", new { sortBy = ReportSortCriterium.ByDate, 
                                                       orderBy = orderBy.Toggle() })
            } else {
                @Html.ActionLink("Date", "List", new { sortBy = ReportSortCriterium.ByDate,
                                                       orderBy = SortDirection.Descending });
            }
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.OnSiteOperator.Name
        </td>
        <td>
            @item.Text
        </td>
        <td>
            @String.Format("{0:g}", item.CreateDate)
        </td>
    </tr>
}

</table>

