<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    @RenderSection(name: "Imports", required: false)
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                    <li>@Html.ActionLink("Operators", "Index", "OnSiteOperators")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            <h2 class="centered">
                @ViewBag.Title
            </h2>
            <div id="master-container">
                @RenderBody()
            </div>
            <div id="detail-container">
                <div id="detail-inner">
                    <h3 class="no-selection-placeholder">No Item Selected</h3>
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
